<div class="row">
  <div class="col-10 mx-auto">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Material</th>
          <th>Trade</th>
          <th>Cost-code</th>
          <th>Price</th>
          <th>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let construction of list$ | async">
          <td>{{ construction.id }}</td>
          <td>{{ construction.material }}</td>
          <td>{{ construction.trade }}</td>
          <td>{{ construction.cost_code }}</td>
          <td>{{ construction.price }}</td>
          <td>{{ construction.active }}</td>
          <td>
            <button
                (click)="onDelete(construction)"
                class="btn btn-danger">
                <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
